# Go binary files
/bin/
/obj/

# Go module files
go.sum

# IDE files (e.g., VS Code, IntelliJ)
.vscode/
.idea/

# Lambda build directories (if any)
.aws-lambda-build/

# Logs and temporary files
*.log
*.tmp
*.bak

# Payload files
payload.json

# Test output
/results/

# OS-specific files
.DS_Store
Thumbs.db
